In [20]:
# Correção cod sç 1

import pandas as pd
import numpy as np

train_file = pd.read_csv('train.csv')
test_file = pd.read_csv('test.csv')


id_passageiros_train = list(train_file['PassengerId']) 
condicao_sobreviventes_train = list(train_file['Survived'])
test_passId_list = list(test_passId = test_file['PassengerId']) 


test_survived = []


for n in test_passId_list:
    index = test_passId_list.index(n)
    if n in id_passageiros_train and condicao_sobreviventes_train[index] == 1 :
         test_survived.append(1)
    else:
        test_survived.append(0)



data_frame = pd.DataFrame({'PassengerId': test_passId_list, 'Test': test_survived})

Tipos:
 coluna de passageiros <class 'list'>, relaçao sobreviventes <class 'list'>
False

     PassengerId  Test
0            892     0
1            893     0
2            894     0
3            895     0
4            896     0
..           ...   ...
413         1305     0
414         1306     0
415         1307     0
416         1308     0
417         1309     0

[418 rows x 2 columns]

In [21]:
import pandas as pd

train_file = pd.read_csv('TitanicChallenger/train.csv')
test_file = pd.read_csv('TitanicChallenger/test.csv')

# sobreviventes train
train_passId_survived = train_file[train_file['Survived'] == 1]

train_passId = train_passId_survived['PassengerId']
test_passId = test_file['PassengerId']

# Convertendo para listas
train_passId_list = list(train_passId)
test_passId_list = list(test_passId)

test_survived = []

for n in train_passId_list:
    if n in test_passId_list:
        test_survived.append(1)
    else:
        test_survived.append(0)

# DataFrame final
data_frame = pd.DataFrame({'PassengerId': test_passId_list, 'Test': 0})

display(data_frame)



# print(test_survived)


# print(f'Lista de passageiros test.csv {len(test_passId_list)}')
# print(f'Lista de passageiros sobreviventes em train.csv {len(train_passId_list)}')
# print(f'Coluna sobreviventes 0 ou 1 deve conter a mesma largura que {len(test_passId_list)} e a lista tem : {len(test_survived)}')



data_frame = pd.DataFrame({'PassengerId': test_passId_list, 'Test': test_survived})
# data_frame.to_csv('Aquivo_Final.csv')

# print(f'Largura de train {len(train_passId)} e {len(train_passId_list)}')
# print(f'Largura de test {len(test_passId)} e {len(test_passId_list)}')


elemento = 1

resultado = elemento in test_survived
print(resultado)

display(data_frame)

     PassengerId  Test
0            892     0
1            893     0
2            894     0
3            895     0
4            896     0
..           ...   ...
413         1305     0
414         1306     0
415         1307     0
416         1308     0
417         1309     0

[418 rows x 2 columns]

In [16]:
import pandas as pd

train_file = pd.read_csv('TitanicChallenger/train.csv')
test_file = pd.read_csv('TitanicChallenger/test.csv')

# Extrai os IDs de passageiros do conjunto de treinamento e teste
train_passId = train_file['PassengerId']
test_passId = test_file['PassengerId']

# Cria uma lista com 1 se o ID de passageiro do conjunto de treinamento estiver presente no conjunto de teste, senão 0
test_survived = [1 if num in test_passId.values else 0 for num in train_passId]

# Cria um DataFrame com as colunas 'Train' e 'Test'
data_frame = pd.DataFrame({'Train': train_passId, 'Test': test_passId, 'Survived in Test': test_survived})

data_frame.to_csv('arquivo_final.csv')

# Exibe o DataFrame
print(data_frame)

     Train   Test  Survived in Test
0        1  892.0                 0
1        2  893.0                 0
2        3  894.0                 0
3        4  895.0                 0
4        5  896.0                 0
..     ...    ...               ...
886    887    NaN                 0
887    888    NaN                 0
888    889    NaN                 0
889    890    NaN                 0
890    891    NaN                 0

[891 rows x 3 columns]